.video-item{
  .video-information{
    text-align: left;
  }
}
.notification{
  min-width: 40%;
  position: absolute !important;
  right: 0px;
  .btn-close{
    margin-left: 10px;
    float: right;
  }
}
.new-viveo-form{
  input{
    min-width: 400px;
  }
  .input-group{
    justify-content: center;
    margin: 40px 0px;
  }
  .f-label{
    align-items: center;
    margin-right: 20px;
  }
}
