.video-item{
  .video-information{
    text-align: left;
  }
}
.new-viveo-form{
  input{
    min-width: 400px;
  }
  .input-group{
    justify-content: center;
    margin: 40px 0px;
  }
  .f-label{
    align-items: center;
    margin-right: 20px;
  }
}
