.d-none{
  display: none !important;
}
.navbar{
  padding: 1.5rem !important;
  .navbar-brand{
    background-color: #210c34;
    .navbar-logo{
      width: 8rem;
    }
  }
  #navbarNav{
    justify-content: flex-end;
  }
  .btn-submit{
    height: 40px;
  }
  .share-link{
    margin-left: 20px;
    margin-right: 20px;
  }
  .login-form{
    .form-group{
      min-width: 300px;
      margin-right: 20px;
      height: 40px;
    }
  }
}
