.d-none{
  display: none !important;
}
.navbar{
  padding: 1.5rem !important;
  .navbar-brand{
    background-color: #210c34;
    .navbar-logo{
      width: 8rem;
    }
  }
  #navbarNav{
    justify-content: flex-end;
  }
  .btn-submit{
    width: 25rem;
  }
  .logout-btn{
    margin-left: 10px;
  }
}
