.d-none{
  display: none !important;
}
.navbar{
  padding: 1.5rem !important;
  .navbar-brand{
    background-color: #210c34;
    .navbar-logo{
      width: 8rem;
    }
  }
  #navbarNav{
    justify-content: flex-end;
  }
  .btn-submit{
    height: 40px;
  }
  .share-link{
    margin-left: 20px;
    margin-right: 20px;
  }
  .login-form{
    .form-group{
      min-width: 300px;
      margin-right: 20px;
      height: 40px;
    }
  }
  .collapse {
    &:not(.show) {
      display: flex;
      flex-direction: row;
    }
  }
}
@media only screen and (min-device-width: 768px){
  .navbar{
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    #navbarNav{
      justify-content: flex-start;
    }
  }
}
@media only screen and (min-device-width: 900px){
  .navbar{
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    #navbarNav{
      justify-content: flex-end;
    }
  }
}
@media only screen and (max-device-width: 768px){
  .navbar{
    .login-form{
      flex-direction: column;
      .btn-submit{
        width: 300px;
      }
    }
    #navbarNav{
      justify-content: center;
    }
  }
}